K9-NTTSA-zygote_merged.bw filter=lfs diff=lfs merge=lfs -text
K9-CC_merged.bw filter=lfs diff=lfs merge=lfs -text
K9-NT-e2c_merged.bw filter=lfs diff=lfs merge=lfs -text
K9-NT-l2c_merged.bw filter=lfs diff=lfs merge=lfs -text
K9-NT-morula_merged.bw filter=lfs diff=lfs merge=lfs -text
K9-NT-zygote_merged.bw filter=lfs diff=lfs merge=lfs -text
K9-NTTSA-l2c_merged.bw filter=lfs diff=lfs merge=lfs -text
K9-PN5_merged.bw filter=lfs diff=lfs merge=lfs -text
K9-NT-DuxOE-e2c.bw filter=lfs diff=lfs merge=lfs -text
Dux△C_OE-2e.bw filter=lfs diff=lfs merge=lfs -text
